
h1 {
	text-align: center;
	margin: 2%;
}

h2 {
	text-align: left;
	font-size: 1.5rem;
	margin-left: 5%;
}

h3 {
	text-align: left;
	font-size: medium;
	margin-left: 5%;
}

p {
	text-align: left;
}

.bagButton {
	background:linear-gradient(to bottom, #02663f 5%, #01a263 100%);
	border-radius:6px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 50px;
	text-decoration:none;
	width: 100%;
	margin-top: 3%;
}

/*.bagButton:hover {
	background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
	background-color:#ef027d;
}
*/