@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");


h1 {
	text-align: center;
	color: #ffffff;
	margin-top: 2%;
	font-family: 'Quicksand', sans-serif;
}

h2 {
	text-align: left;
	font-size: 1.5rem;
	margin: 2% 10% 2% 10%;
	padding: 3%;
	color: #ffffff;
	background: rgba( 110, 238, 217, 0.25 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	font-family: 'Quicksand', sans-serif;
}

.start{
	margin: 5% 10% 5% 10%;
	font-family: 'Quicksand', sans-serif;
	color: #ffffff;
}

p {
	text-align: left;
	color: #fff;
	font-family: 'Quicksand', sans-serif;
}

.img-thumbnail {
	padding: 20%;
	margin-bottom: 5%;
}

.bagButton {
	background: #65FAC9;
	border-radius:6px;
	cursor:pointer;
	color:#000;
	font-family: 'Quicksand', sans-serif;
	font-size:16px;
	font-weight: bold;
	padding:6px 50px;
	text-decoration:none;
	width: 100%;
	margin-top: 3%;
}

.bagButton:hover {
	background: #08c5f9;
	color: #ffffff;
}


li {
	margin-left: auto;
	margin-right:  auto;
}

body {
	background:#009D9A;
	font-family: 'Quicksand', sans-serif;

}

footer {
	color: #000000;
	background: rgba( 110, 238, 217, 0.25 );;
	margin-top: 5%;
}

footer p {
	color: #000000;
}